.container {
    display: grid;
    grid-template-columns: repeat(20, 40px);
    grid-template-rows: repeat(20, 40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > div {
    border: solid #555 1px;
}

.container > div:not(.colored) {
    background-color: #ddd;
}

.colored {
    background-color: navy;
}